*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}
a{
    text-decoration: none;
}
a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}
/*END OF CSS RESET*/

section{
    width: 100%;
    height: 100vh;
    max-width: 1200px; /*nem emlékszem ez kell?!*/

    margin: 0 auto;
    position: relative;
    
}
.s1{
    background-color: #efd592;
}
.s2{
    background-color: #4343f9;
}
.b1{
    width: 200px;
    height: 200px;
    border-radius: 50%;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #242d38;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    letter-spacing: 0.2em;
    color: #efd592;
    text-transform: uppercase;
    font-weight: 300;
}
.b2{
    width: 200px;
    height: 60px;

    position: absolute;
    bottom: 40px;
    right: 40px;
    
    border: 6px solid #242d38;
    
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #242d38;
    font-weight: 700;
}
.b3{
    width: 200px;
    height: 60px;

    position: absolute;
    bottom: 40px;
    left: 50%;

    background-color: #4343f9;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1);

    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    color: #ffffff;

    transform: translateX(-50%);
}